<div class="footer">
  <a href="/privacy"><p>{{ text1 }}</p></a>
  <a href="/impressum"><p>Impressum</p></a>
  <a href=""><img src="assets/logo.png" alt="" /></a>
  <a target="_blank" href="https://www.linkedin.com/in/valer-neufeld-77b320258/"
    ><img src="assets/linkedin.png" alt=""
  /></a>
  <a target="_blank" href="https://www.xing.com/profile/Valer_Neufeld"
    ><img src="assets/xing.png" alt=""
  /></a>
  <a target="_blank" href="https://github.com/Vealer"
    ><img src="assets/github1.png" alt=""
  /></a>
</div>
